<style>

#chart-9 {
    display: flex;
    flex-wrap: wrap;
}
#chart-9 svg {
    margin: none;
}

.CLE circle:nth-child(even) { fill: #FFB81C /* lighter */ }
.CLE circle:nth-child(odd) { fill: #c94435 /* darker */ }
.GSW circle:nth-child(even) { fill: #FDB927 /* lighter */ }
.GSW circle:nth-child(odd) { fill: #006BB6 /* darker */}
.HOU circle:nth-child(even) { fill: #CE1141 /* lighter */ }
.HOU circle:nth-child(odd) { fill: #C4CED4 /* darker */ }
.SAS circle:nth-child(even) { fill: #C4CED4 /* lighter */ }
.SAS circle:nth-child(odd) { fill: #767676 /* darker */ }
.NOP circle:nth-child(even) { fill: #C8102E /* lighter */ }
.NOP circle:nth-child(odd) { fill: #85714D /* darker */ }
.MIL circle:nth-child(even) { fill: #EEE1C6 /* lighter */ }
.MIL circle:nth-child(odd) { fill: #00471B /* darker */ }
.OKC circle:nth-child(even) { fill: #EF3B24 /* lighter */ }
.OKC circle:nth-child(odd) { fill: #007AC1 /* darker */ }
.PHI circle:nth-child(even) { fill: #ED174C /* lighter */ }
.PHI circle:nth-child(odd) { fill: #006BB6 /* darker */ }
.MIN circle:nth-child(even) { fill: #9EA2A2 /* lighter */ }
.MIN circle:nth-child(odd) { fill: #236192 /* darker */ }
</style>

<h3>Chart 9: NBA radar chart small multiples</h3>
<p>If you've made one, you've made them all! Kind of.</p>
<p>Data in <code>data/nba.csv</code></p>
<div id="chart-9">
</div>


<script type="text/javascript" src="scripts/homework-13/09-fancy-radar-multiples.js"></script>